@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  src: url(https://resource.flomoapp.com/flomo-web/fonts/Barlow-Regular.3a262070.ttf) format("opentype");
}

@font-face {
  font-family: "Barlow";
  src: url(https://resource.flomoapp.com/flomo-web/fonts/Barlow-SemiBold.6c26833e.ttf) format("opentype");
  font-weight: bold;
}

* {
  font-family: "Barlow", "PingFang SC", Helvetica, Arial, sans-serif;
}